
html , body {
    height: 100%;
    align-content: center;
}
body {
  background-image: url("http://res.freestockphotos.biz/pictures/9/9090-an-abstract-blue-background-pv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 40px;
  padding-left: 0px;
  padding-bottom: 10px;
  align-content: center;

}


.wrapper{
	
	font-size:60px;
	padding: 1em;
	border: 4px solid #ccc;
	background-color: grey;
	text-align : center;
	border-radius: 20px;
/*  width: 600px;*/
  margin-left: 120px;
  align-content: center;
  margin-right: 140px;

}
.banana{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: scroll;
  min-height: 60px;
  display: grid;
  align-items: center;
  justify-content: space-between 5px;
  grid-template-columns: 2fr .5fr 1fr .5fr;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 140px;

}
.test {
  margin-top: 30px;
  padding: 1px;
/*  width: 720px;*/
  min-height: 50px;
  border: 2px white; 
  margin-left: 120px;
}
.input {
  padding: 15px;
  font-size: 18px;
  border: 2px solid grey;
/*  width: 480px;*/
  margin-left: 120px;
  width: 400px;


}

.input2{
   padding: 18px;
  font-size: 13px;
  border: 2px solid grey;
  width: 200px;
  padding-left: 10px;
  border-radius: 5px;
  margin-left: 17px;
  margin-right: 4px;

}

.button {
  padding: 15px;
  font-size: 20px;
  border: 2px solid #FFF;
  width: 300px;
  background-color: grey;
  margin-left: 10px;
  border-radius: 50px;
}



.X {
  padding: 50px;
  font-size: 20px;
  border: 2px solid #FFF;
  width: 50px;
  background-color: red;
  border-radius: 10px;
  display: none;
  color: red;
}

.U {
  padding: 10px;
  font-size: 20px;
  border: 2px solid #FFF;
  width: 50px;
  background-color: grey;
  border-radius: 500px;
  margin-left: 0px;
  display: none;

}

.big {
  width:1000px;
  padding-left: 200PX;
}

.trash {
  padding: 16px;
  width:50px;
  background-color: red;
  border-radius: 10px;
  margin-right: 0px;
  margin-left: 160px;
  border-color: white;

}

.reload {
  padding: 15px;
  width:50px;
  background-color: orange;
  border-radius: 10px;
  margin-left: 0px;
  border-color: white;  
}

.fa {
  font-size: 20px !important;
}

